# App
PORT=

# Database
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

CORS_ORIGINS=

JWT_SECRET=
JWT_EXPIRES_IN=

AUTH0_DOMAIN=
AUTH0_AUDIENCE=
CLIENT_ID=
CLIENT_SECRET=